---
layout: default
---
<!-- Header -->
			<header id="header">
				<a href="/"><h1 style="cursor: pointer">{{site.title}}</h1></a>
				<nav>

					<ul>
						<li><a href="#analytics">Analytics</a></li>
						<li><a href="#one">Finance</a></li>
						<li><a href="#two">Healthcare</a></li>
						<li><a href="#insure">Insurance</a></li>
						<li><a href="#tech">Technology</a></li>
						<li><a href="#work">Blog</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</nav>
			</header>

		{% include intro.html %}
		{% include analytics.html %}
		{% include finance.html %}
		{% include healthcare.html %}
		{% include insurance.html %}
		{% include technology.html %}
		{% include blog.html %}
		{% include contact.html %}
