<!-- Footer -->
			<footer id="footer">

				<!-- Icons -->
					<ul class="actions">
					    
					    {% if site.twitter %}
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						{% endif %}
						
						{% if site.facebook %}
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						{% endif %}
						
						{% if site.instagram %}
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						{% endif %}
						
						{% if site.linkedin %}
						<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
						{% endif %}
						
						{% if site.dribble %}
						<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
						{% endif %}
						
						{% if site.pinterest %}
						<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
						{% endif %}
					</ul>

		
				    <ul class="menu">
				        <li>&copy; {{site.title}}</li><li>Designed by: <a href="https://webjeda.com">webjeda</a></li>
				    </ul>
	
			</footer>