			<header id="header">
				<a href="/"><h1 style="cursor: pointer">{{site.title}}</h1></a>
				<nav>

					<ul>
						<li><a href="/analytics/">Analytics</a></li>
						<li><a href="/finance/">Finance</a></li>
						<li><a href="/healthcare/">Healthcare</a></li>
						<li><a href="/insurance/">Insurance</a></li>
						<li><a href="/technology/">Technology</a></li>
						<li><a href="/blog/">Blog</a></li>
						<li><a href="/#contact">Contact</a></li>
					</ul>
				</nav>
			</header>