
#insure {
        background: url("/assets/css/images/overlay.png"), url("/images/one.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
}
#tech {
        background: url("/assets/css/images/overlay.png"), url("/images/two.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
}



#contact {
   background: #cbd6e0;
}

#analytics {
        background: url("/assets/css/images/overlay.png"), url('/images/two.jpg');
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
}
